# MCEF ARM64 Access Transformers
# Allows MCEF to access package-private Minecraft classes

public net/minecraft/client/Minecraft f_91087_ # minecraft instance
public net/minecraft/client/Minecraft f_91089_ # screen
public net/minecraft/client/renderer/GameRenderer f_109316_ # main render target
